* { 
  box-sizing: border-box;
  font-family: 'Do Hyeon'; 
}
html, body { margin: 0; padding: 0; height: 100%; width: 100%; 
}

.user-name h3 , h4{
  margin: 5px;
}
.btn {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
  background: white;
  border: 1px solid silver;
  color: rgba(54, 53, 54, 0.836);
  height: 20px;
  line-height: 15px;
  vertical-align:bottom;
  font-size: 9px;
}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}

h1{
  text-align: center;
  margin:30px 50px 50px 50px;
}
.container { 
  width: 100%; height: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center; 
  align-items: center;
}
.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .container { width: 800px; margin: 0 auto; }
}

.input-group {
  margin-bottom: 15px;
}
.input-group.post { 
  border : solid 1px;
  }
.input-group label { width: 25%; display: inline-block; }
.input-group input { width: 70%; }
.half { float: left; width: 50%; margin: 10px 0; }
#join { float: right; }
.profile-wrap {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 0;
}
@media screen and (min-width: 800px) {
  .login-wrap { width: 290px; margin-bottom: 0; }
}
.login {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid silver;
}
#logout{
  padding: 0;
  border-style: none;
}
.user-name { 
  font-weight: bold; font-size: 30px;
  text-align: center;
  margin: 10px;
  width: 100%; }
.count { font-weight: bold; color: #f86363; font-size: 18px; }
.timeline {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  vertical-align: top;
}
#join-form { padding: 10px;text-align: center; }

#dueDate {width: 40%;}

#content { width: 100%; min-height: 45px; border :none; }
#postBtn {
  float: right;
  color: white;
  background: #f86363;
  border: none;
}
.todos{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  column-gap: 10px;
}
.list {
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}
.dayList { display: inline-block; font-weight: bold; margin-right: 10px; }
.dayList span {
  font-weight: 100;
  margin-right: 5px;
}
.error-message { color: red; font-weight: bold; }
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
}
.date_head {margin-bottom: 10px;}
.date_head {
  background: #f86363;
  color: #fff;
  text-align: center;
}
.date_form {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.date_form div{
  width: 100px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}
.rap {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.dateSel button {
  font-weight: bold;
  color: #333;
  min-height: 130px;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px solid #e2e2e2;
  cursor: pointer;
}
button:hover{color: #f86363}
.background {background: #f7f7f7;}
.hide {display: none;}